body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.unit-info
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
    z-index: 1;
    background-color: rgb(0, 50, 126);
    border-radius: 0px 20px 0px 0px;
    display: none;
}

.unit-name
{
    color: white;
    font-size: 40px;
}